body {
    text-align: center;
    background-image: url(https://i.pinimg.com/736x/d0/f2/07/d0f207b84e26d773a27fe2eb1288245a.jpg);
}

p {
    overflow: auto;
    color: white;
    font-size: large;
    text-shadow: 4px 4px 7px black;
}
p:active {
    text-shadow: 4px 4px 7px Yellow;
}

button {
    box-shadow: 4px 4px 7px black;
    
}
button:hover {
    box-shadow: 4px 4px 7px red;
    
}

